<%= form_for([@cocktail,@dose]) do |f| %>

<% if @dose.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@dose.errors.count, "error") %> prohibited this dose from being saved:</h2>

    <ul>
    <% @dose.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<div class="field">
  <%= f.label :ingredient_id %><br>
    <%= collection_select(:dose,:ingredient_id, Ingredient.all, :id, :name) %>
</div>
<div class="field">
  <%= f.label :amount %><br>
  <%= f.number_field :amount %>
</div>
<div class="field">
  <%= f.hidden_field :cocktail_id, :value => @cocktail.id %>
</div>
<div class="actions">
  <%= f.submit %>
</div>


<% end %>
