<!DOCTYPE html>
<html>
<head>
    <title>Rossini's first deployed app</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>


<!--   <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
 -->
<!-- demander pourquoi on est obligé de garder ça? -->

<%= yield %>

</body>
</html>
